.info {
    width: 200px;
    height: 200px;
    padding: 0;
    top: 0;
    position: fixed;
    background-color: #2db8b7;
    color: transparent;
}

.icone-info {
    position: relative;
    background-color: white;
    text-align: center;
    font-size: 100px;
    height: 100px;
    width: 100px;
    border-width: 2px;
    padding: 17px;
    margin: 0;
    left: 16%;
    top: 14%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media (max-width: 630px) {
    .info {
        width: 100px;
        height: 100px;
        padding: 0;
        top: auto;
        position: fixed;
        background-color: #2db8b7;
        color: transparent;
        bottom: 0;
    }
    .icone-info{
        position: relative;
        background-color: white;
        text-align: center;
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
        border-width: initial;
        padding: 0px;
        margin: 0;
        left: 29%;
        top: 33%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

}